@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";


/*Scroll Top*/
#scrollTop {
    position: fixed;
    right: 20px;
    bottom: 100px;
    background: $color-primary;
    color: #fff;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    opacity:0.8;
    display: none;
    border-radius:3px;
    z-index:9999;
    span {
        display: block;
        font-size: 2em;
        text-align: center;
    }

    &:hover {
        opacity:0.8;
    }
}

