<div id="overlay"></div>
<div id="header-sidebar" class="hidden-md hidden-lg">
    <div class="left-h-sidebar">
        <a href="#my-mobile-menu" class="sidebar-toggle js-mmenu">
            <span id="sidebar-icon">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </span>
        </a>
    </div>
    <div class="right-h-sidebar">
        <div class="logo-mobie">
            <a href="#" title="">
                <img src="img/logo-mobie.png" alt="" class="img-responsive" a/>
            </a>
        </div>
        <div class="boxMobieSearch">
            <form class="frMobie-search">
                <input type="search" placeholder="Từ khóa..." class="ipt-search" id="iptSearchMobie">
                <button type="button" class="bt-search-mb"><span class="icon ion-ios-search"></span></button>
                <button type="button" class="bt-close-search-mb"><span class="ion-close-round"></span></button>
            </form>
        </div>
        <div class="button-call-search"><span class="icon ion-ios-search-strong"></span></div>
    </div>
</div>
