/*-----CSS RESET---------*/
@import "../helpers/_variables.scss";

* {
    margin: 0;
    padding: 0;
}

html {
    text-size-adjust: 100%;
    background-color: $background-primary;
}

body {
    font-family: $font-face-primary;
    font-size: $font-size-primary;
    color: $text-color-primary;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

a {
    transition: 0.2s all ease-in;
    background-color: transparent;

    &:hover {
        transition: 0.2s all ease-out;
        text-decoration: none;
        outline: none;
    }

    &:focus {
        text-decoration: none;
        outline: none;
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

    li {
        list-style: none;
    }
}

b, strong {
    font-weight: bold;
}

img {
    border: 0;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    outline: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    display: block;
    width: 100%;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clr {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-color-primary;
    display: block;
}

.divBlockL {
    width: 100%;
    float: left;
    display: block;
}

.divBlockR {
    width: 100%;
    float: right;
    display: block;
}
/*-----END RESET---------*/
