@import "../helpers/_mixins.scss";

$f-roboto-r:Roboto Regular,sans-serif;
$f-roboto-b:Roboto Bold,sans-serif;
$f-roboto-b:Roboto Medium,sans-serif;
/*@include font(robotor,Roboto-Regular);
@include font(robotob,Roboto-Bold);
@include font(robotom,Roboto-Medium);
@include font(robotol,Roboto-Light);*/